/* Imports ---------------------------------------- */

@import "compass";



/* Vars ---------------------------------------- */

$block-width:   10%;
$block-height:  20px;
$paddle-width:  2 * $block-width;
$paddle-height: $block-height;
$ball-size:     20px;



/* Global styles ---------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font: 1em/1.5 sans-serif;
  margin: 0;
  padding: 0;
}



/* Utils ---------------------------------------- */

.hide { display: none !important; }

.invisible { visibility: hidden !important; }



/* Blocks ---------------------------------------- */

.blocks-row {
  height: $block-height;
}

.block {
  @include transition(transform 1s ease-in);
  position: absolute;
  width: $block-width;
  height: $block-height;
  border: 1px solid #000;
  background: #f0f0f0;

  &.falling {
    @include transform(translate3d(0, 800px, 0) rotate(440deg));
  }
}



/* Paddles ---------------------------------------- */

.paddle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: $paddle-width;
  height: $paddle-height;
  border: 1px solid #000;
  background: #f0f0f0;
}



/* Balls ---------------------------------------- */

.ball {
  position: absolute;
  width: $ball-size;
  height: $ball-size;
  border: 1px solid #000;
  border-radius: $ball-size;
  background: #f0f0f0;
}
