/* Imports ---------------------------------------- */

@import "compass";



/* Vars ---------------------------------------- */

$block-width:   10%;
$block-height:  20px;
$paddle-width:  2 * $block-width;
$paddle-height: $block-height;
$ball-size:     20px;
$game-bg:       hsl(204, 83%, 68%);



/* Mixins ---------------------------------------- */

@mixin debug {
  outline: 1px solid #f00;
}

@mixin colorable($bg-color: #fff) {
  background-color: $bg-color;
  border: 5px solid $bg-color;
}



/* Global styles ---------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font: 1em/1.5 sans-serif;
  margin: 0;
  padding: 0;
  background: $game-bg;
}



/* Utils ---------------------------------------- */

.hide { display: none !important; }

.invisible { visibility: hidden !important; }



/* Blocks ---------------------------------------- */

.blocks-row {
  height: $block-height;
}

.block {
  @include transition(transform 1s ease-in);
  @include colorable;
  position: absolute;
  width: $block-width;
  height: $block-height;
  background: #f0f0f0;
  border-width: 7px;

  &.falling {
    @include transform(translate3d(0, 800px, 0) rotate(440deg));
  }
}

.block-style-1 { border-color: hsl(18, 81%, 54%); }
.block-style-2 { border-color: hsl(39, 81%, 58%); }
.block-style-3 { border-color: hsl(155, 100%, 34%); }
.block-style-4 { border-color: hsl(185, 92%, 30%); }
.block-style-5 { border-color: hsl(0, 0%, 17%); }



/* Paddles ---------------------------------------- */

.paddle {
  @include colorable;
  position: absolute;
  top: 0;
  left: 0;
  width: $paddle-width;
  height: $paddle-height;
}



/* Balls ---------------------------------------- */

.ball {
  @include colorable;
  position: absolute;
  top: 0;
  left: 0;
  width: $ball-size;
  height: $ball-size;
  border-radius: $ball-size;
  z-index: 1;
}
